html, body, #root {
  height: 100%;
  margin: 0; /* Ensure there's no margin */
  padding: 0; /* Ensure there's no padding */
  overflow: hidden; /* Prevent overflow */
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Take up 100% of the viewport height */
  width: 100%; /* Take up 100% of the available width */
  margin: 15; /* Remove margin */
  padding: 15; /* Remove padding */
  height: 100%; /* Take up 100% of the viewport height */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.separator {
  border-top: 1px dotted #000; /* Add dotted line at the top */
}

.separator_vt {                               /* Add dotted verticle line at*/
  border-right: 1px dotted  #000;
}

.brand-text {
  font-size: 32px;
  font-family: 'Rubik', sans-serif; /* or the font-family used in your link */
  font-weight: 600; /* or the font-weight used in your link */
  color: #1607eb; /* or the color used in your link */
  padding: 0;
  margin: 0;
}

.plant-text {
  font-size: 28px;
  font-family: 'Rubik', sans-serif; /* or the font-family used in your link */
  font-weight: 600; /* or the font-weight used in your link */
  color: #0e8f44; /* or the color used in your link */
  margin-top: 5px; /* Adjust as needed */
  margin-bottom: 2px; /* Adjust as needed */
  margin: 0;
}


/* Css for scrolling footer */
.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* css for submit buttons */
.form-submit-button {
  background: #016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  }
.form-submit-button:hover {
background: #B9DFFF;
color: #016ABC;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}

/* css for text input feild */

.css-input{
font-size: 14px;
border-radius: 6px;
line-height: 1.5;
margin-left: 50px;
padding: 5px 10px;
transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
border: 2px solid #016ABC;
color: rgb(14, 14, 16);
/* background: #cbdaf7; */
display: block;
height: 30px;
}
:hover {
    border-color: #ccc;
}
:focus{
    border-color: #9147ff;
    background: #fff;
}


/* css styles for Nab-Bar  */
/* Custom styles for the vertical navbar */
.navbar-nav .nav-item {
  margin-bottom: 10px;
}
.navbar-nav .dropdown-menu {
  position: static; /* Keep the dropdown within the flow of the document */
  float: none; /* Disable floating */
}
