th.next-ok {
    background-color: #00e68a !important;
  }
  
th.next-nok {
background-color: #ff8080 !important;
}

td.next-ok {
    background-color: #00e68a !important;
  }
  
td.next-nok {
background-color: #ff8080 !important;
}

